h1{font-size:20px;
background-color: yellow}


h2
{font-size:20px;
font-color:blue;
text-shadow: 2px 2px 2px #999;
}


.logo{font-size:50px;font-color:yellow;font-family:sans-serif;background-color: yellow; }
.nav p{background-color:#343;font-size:20px;font-style:sans-serif}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  background-color: yellow;
  width: 100%;
  font-size: 3em;
}